#aContainer {
    display: none!important;
}

#menuItemContainer {
    position: absolute;
    top: 89%;
    width: 100%;
    flex-direction: row;
    clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
}

.menuItem, #headerRight, #signedOutHeaderBar, #termsInfo, #signedInHeaderBar {
    background-color: #222 !important;
}

#mapInfoHolder {
    display: block;
    top:-60px;
    left:0px;
    height: 0px;
    width: 0px;
}

#termsInfo {
    width:500px;
    height:64px;
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
}

.terms,  .verticalSeparatorInline {
    transform:translateY(10px)
}

#mapInfo {
    transform:translateY(220px);
    font-size:15px!important;
    padding-left:17px!important;
}

#signedOutHeaderBar {
    left: calc(50% - 160px);
    height:70px;
}

#signedInHeaderBar {
    left: calc(50% - 230px);
}

#uiBase.onMenu #voiceDisplay, #mLevelCont, #mainLogo, #merchImg {
    display: none;
}

#uiBase.onMenu #spectButton {
    left: 80px;
    top: 200px;
}

.headerBarLeft {
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 0;
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 10% 100%);
}

#streamContainer {
    display: none;
}

.button {
    background-color: #2e4558!important;
    box-shadow: inset 0 0px 0 0 #00000000!important;
    color: #b4956a;
    text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020;
}

#customizeButton {
    width: 400px;
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%)
}

.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2e4558;
    z-index: -2;
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #b4956a;
    transition: all .3s;
    z-index: -1;
}

.button:hover {
    color: #2e4558;
}

.button:hover:before {
    width: 100%;
}

.headerBarRight {
    padding-left: 50px;
    border-radius: 0 0 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

.imageButton {
    display: none!important;
}

#menuWindow {
    left: 50%;
    margin-bottom: 65px;
    border-radius: 0px;
    background-color: #2e4558;
    -webkit-box-shadow: 0 9px 0 0 #2e4558;
    box-shadow: 0 9px 0 0 #2e4558;
    max-height: 700px!important;
    transform: translate(-50%,calc(-50px - 50%));
}

.settingsHeader {
    background-color: #2e4558;
}

* {
    color: #b4956a;
}

.serverHeader {
    background-color: #2e4558;
}

#settSearch {
    background-color: #283d4d;
    border-radius: 0px;
}

.inputGrey2 {
    background: #283d4d;
    border-radius: 0px;
}

.settingsBtn {
    color: rgb(180 149 106);
    background-color: #283d4d;
    border-radius: 0px;
}

.sliderVal {
    color: #fff;
    background: #b4956a;
    border-radius: 0px;
}

.slider {
    background-color: #2e4558;
    border-radius: 0px;
}

input:checked+.slider {
    background-color: #283d4d;
}

.sliderM {
    background-color: #283d4d;
    border-radius: 0px;
}

.sliderM::-webkit-slider-thumb {
    background: #b4956a;
}

.accountButton {
    background-color: #2e465a;
}


.krSocial {
    display: none;
}

#menuRegionLabel::after {
    visibility: visible;
}

#menuRegionLabel {
    display: flex;
    visibility: hidden;
}

#subLogoButtons {
    bottom: 12%!important;
}

#menuServerInfoContainer {
    padding-bottom: 30px;
}

#youNewDiv {
    transform: translateX(-120px);
}

#chatHolder {
    bottom: 150px!important;
    left: 20px!important;
}

#seasonLabel, #ot-sdk-btn-floating {
    display:none!important
}

#clientExit {
    display: flex!important;
}

.verticalSeparatorInline {
    transform: translateY(20px);
}

/* BUG FIXING */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.sliderM {
    transform: translateY(-8px) !important;
}

/* STEAM REQUIREMENTS */
#aHolder {
    z-index: -1000 !important;
}

#aContainer {
    opacity: 0 !important;
    pointer-events: none !important;
}

#endAHolderL, #endAHolderR {
    opacity: 0 !important;
    display: none !important;
}

.downloadClient {
    display: none !important;
}

.adsbygoogle.adsbygoogle-noablate {
    display: none !important;
}

/* STYLING */
* {
    cursor: url('../imgs/cursor.svg'), auto !important;
}

.stickyHeader {
    max-height: calc(100% - 351px) !important;
}


#ot-sdk-btn-floating {
    display: none;
    left: 540px;
    top: calc(100% - 65px);
}

.button {
    border: 3px solid;
}

#policeButton {
    height: 84px !important;
}

#policeButton img {
    margin-left: -13px !important;
}

.button, .button.small {
    text-shadow: none !important;
}

.button:hover {
    box-shadow: none !important;
}


.buttonP {
    color: #b447ff;
    background-color: #333!important;
    box-shadow: none !important
}

.buttonR {
    color: #ff4747;
    background-color: #333!important;
    box-shadow: none !important
}

.buttonG {
    color: #31caec;
    background-color: #333!important;
    box-shadow: none !important
}

.buttonPI {
    color: #fa50ae;
    background-color: #333!important;
    box-shadow: none !important
}

.buttonB {
    background-color: #333!important;
    box-shadow: none !important
}

.button.lgn {
    color: #b447ff;
    padding-top: 6px !important;
    padding-bottom: 10px !important;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 18px;
    margin-bottom: 6px;
    background-color: #b447ff!important;
    box-shadow: inset 0 -7px 0 0 #b08531;
    text-align: center;
    color: #fff;
    text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020;
    pointer-events: all;
    cursor: pointer;
    -webkit-transition: all .1s;
    transition: all .1s;
}

.button.lgn span {
}

.menuItem {
    background-color: #222 !important;
}

.headerBar {
    background-color: #222 !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    z-index: 20;
}

#mLevelCont {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#termsInfo {
    background-color: #222 !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#customizeButton span {
    color: #31caec !important;
}

#streamContainer {
    display: none;
}

#newsHolder {
    background-color: #222 !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    padding: 15px 20px !important;
    right: 0px !important;
    height: 240px !important;
    border-radius: 0px !important;
    border-bottom-left-radius: 6px !important;
}

#newsHolder::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
    background-color: var(--yellow) !important;
}

#newsHolder::-webkit-scrollbar-track {
    border-radius: 0px !important;
    background-color: #444 !important;
}

.newsIMG {
    width: calc(100% - 6px) !important;
    border: 3px solid #fff;
}

.newsItem {
    border-bottom: 3px solid rgba(255,255,255,.4) !important;
    padding-bottom: 10px !important;
    margin-top: 15px !important;
    margin-bottom: 0px !important;
}

.newsItem span {
    display: block;
    text-align: center;
}


#matchVoteHolder {
    background-color: #333!important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.endCard {
    background-color: #333!important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.headerBarLeft {
    z-index: 100;
}

.teamTotals {
    background-color: #333!important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#menuClassNameTag {
    margin-top: -200px !important;
}

.leftUIB {
    border: 3px solid #ca56eb !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#ammoDisplay {
    border: 3px solid #fbd543 !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#leaderDisplay {
    border-radius: 5px !important;
    border: 3px solid #55555580 !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.newLeaderContainer {
    background-color: #333!important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.countIcon {
    border: 3px solid #55555580 !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#hudClassIcon {
    border: 3px solid #ffffff60 !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#healthValueHolder {
    border: 3px solid #55555580 !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.hpBSeg {
    box-shadow: none !important;
    border-radius: 0px !important;
}

.healthBarSeg:last-child .hpBSeg[style*="width:100%"] {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.healthBarSeg:first-child .hpBSeg {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.healthBarSeg {
    background-color: transparent !important;
    margin-right: 0px !important;
    border-right: 4px solid #555;
    border-radius: 0px !important;
}

.healthBarSeg:last-child {
    border-right: none !important;
}

#healthBar {
    height: 44px !important;
    margin-bottom: 2px !important;
    border: 3px solid #555 !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5) !important;
    border-radius: 6px;
}

#chatInput {
    padding: 6px 10px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-radius: 4px;
    border: 3px solid #55555580 !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.chatItem {
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-radius: 4px;
    border: 3px solid #55555580 !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.kfItem {
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-radius: 4px;
    border: 3px solid #55555580 !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#killCard {
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-radius: 4px;
    border: 3px solid #55555580 !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}S